build/
*.swp          # Temporary files
*~             # Temporary files (backup)
*.log          # Log files
config.ini     # Local configuration files
.vscode/       # Visual Studio Code files
.vscode/*.json
*.json         # .json files
CMakeLists.txt
src/main.cpp
